{{ define "main" }}

<div class="container">
    <div class="center-align">
        <br>
    <h1>{{site.Title}}</h1><br>
    <h5>System Thinker</h5>
    <p>
        Sistemas de desarrollo de software, sistemas de pipelines de datos, de almacenamiento de datos.
        Sistemas tecnológicos de la vida real. <br>Arquitecta de Datos.
        
        <br><br><br>
        <b> Puedes ver lo que comparto y seguirme en: </b></p>

    

    <!-- Google -->
    <a class="btn btn-primary" style="background-color: #dd4b39;" href="mailto:romidm111@gmail.com" role="button"
    ><i class="fab fa-google"></i
    ></a>

    <!-- Github -->
    <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/romicofre" role="button"
    ><i class="fab fa-github"></i
    ></a>


    <!-- Linkedin -->
    <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/romicofre/" role="button"
    ><i class="fab fa-linkedin-in"></i
    ></a>

    <!-- Stack overflow -->
    <a class="btn btn-primary" style="background-color: #ffac44;" href="https://stackoverflow.com/users/6716603/romina-c-m" role="button"
    ><i class="fab fa-stack-overflow"></i
    ></a>

    <!-- Medium -->
    <a class="btn btn-primary" style="background-color: #333333;" href="https://medium.com/@techiewomanlife" role="button"
    ><i class="fab fa-medium"></i
    ></a>
    
    </div>
</div>
<br>
{{ end }}
